@charset "ISO-8859-1";
body {
  margin: 0;
  padding: 0;
   background: url(plane2.jpg) no-repeat 0 30% ;
   background-size: cover;
    /* will also set the opacity of the link text */        
    opacity: 2;
    filter: alpha(opacity=50);
}
	 
	
    
}

/* h1 {
	font-size: 55px;
	line-height: 50px;
	margin: 1em 0 .6em 0;
	font-weight: normal;
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	color: #6Cf;
	text-align:center;
}

h2 {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	color: #FF6347;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 36px;
	line-height: 30px;
	text-shadow: 0px -2px 0 rgba(0,0,0,0.2);
	text-align:center;
}

h4{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: white
	
} */
#main{
	position:centre;
	margin-top: 5000 px;
}