<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Web14</display-name>
  <listener>
    <listener-class>p1.AddData</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>One</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>One</servlet-name>
    <servlet-class>First</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Manish Hurkat</param-value>
    </init-param>
    <init-param>
      <param-name>address</param-name>
      <param-value>Neemarana</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Two</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Two</servlet-name>
    <servlet-class>Second</servlet-class>
    <init-param>
      <param-name>phone</param-name>
      <param-value>789</param-value>
    </init-param>
  </servlet>
</web-app>